body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.text-input{
  background-color: #ECECEC;
  outline: none;
  border-radius: .1rem
}
.text-input::placeholder{
  color: #EAA992;
}

.text-input:focus{
  background-color: #ECECEC;
  outline: none;
  border-color: #DDDDDD;
  box-shadow: none;
}

.fetch-btn{
    color: #EAA992;
    background-color: #ECECEC;
    border-radius: 0.1rem;
    display: block;
    margin: 10px auto;
    width: 40%;
}
.fetch-btn:hover{
  color: #F15A24
}
